
.side-bar {
    width: 300px ;
    height: 100vh;
    background-color: rgb(38, 243, 15);
    position: fixed;
    top: 0;
    left: -300px;
    transition: 1.5s;
    background: linear-gradient(to bottom, #46d2f9, #ed33e4);
}
#side-bar-button {
    width: 70px;
    height: 70px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 62%;
    margin-left: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: #EEEE00;
    background-color: #ff5858;
}
#side-bar-button:hover {
    color: #fff;
    background-color: #3dff32;
}
.open {
    left: 0;
}

.sbcc {
    font-family: cursive
}
